$border: rgb(67, 135, 224);

@mixin border () {
    border-color:$border;
}

#signup, #login {
    @include border();
    
    margin-top: 10rem;
    &__tittle{
        font-family: "Roboto Slab", serif;
        font-size: 2rem;
    }

    &__form-div  {
        display: flex;
    }

    &__name-first, &__location{
        margin-left: -1rem;
        width: 120%;
    }

    &__rfc {
        margin-left: -1rem;
        margin-right: 1.5rem;
        width: 110%;
    }

    &__birthday{
        margin-left: 0.4rem;
        margin-right: 1rem;
        width: 108%;

    }

    &__gender {
        width: 40%;
        justify-self: center;
        text-align: center;
    }
    
    &__password, &__email {
        width: 80%;
        justify-self: center;
    }

    &__name-first, &__name-last, &__location, &__phone, &__password, &__email, &__rfc, &__birthday  {
        border-color: $border;
    }
    
    &__btn {
        background-color: $border;
        color: rgb(255, 255, 255);
    
        &:hover {
            background-color: rgb(31, 91, 180);;
        }
    }

    
}